/* common */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* containers  */
.l-container{

}

.m-container{

}

.xl-container{

}

.small-content{

}

.large-content{

}

/* buttons */
.btn{

}


ul li{
    list-style: none;
}

a{
    text-decoration: none;
    color: black;
}

/* buttons */
.btn{
    background-color: blue;
    color: white;
}

/* header */

/* top-bar */

.top-bar{
    display: flex;
    justify-content: space-between;
    width: 100vw;
    position: fixed;
    background-color: white;
}

.left-info{
    display: flex;
    justify-content: space-between;
}

.logo{
    display: inline-block;
    padding: 15px 5px;
    margin: 10px;
}

.left-info ul, .right-info ul{
    display: flex;
    justify-content: space-between;
}

.left-info li, .right-info li{
    /* padding: 10px; */
    padding: 20px 15px;
}

.left-info li a, .right-info li a{
    padding: 10px;
    display: inline-block;
}

.left-info li:hover, .right-info li:hover{
    border-bottom: 1px solid blue;
}

/* jumbotron */

.jumbotron{
    padding-top: 10vh;
    background-color: #B4D0E7;
    height: 100vh;
}
