/* common */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* containers  */
.l-container{
    
}

.m-container{

}

.xl-container{

}

.small-content{
    width: 30%;
}

.large-content{
  width: 70%;  
}

ul li{
    list-style: none;
}

a{
    text-decoration: none;
    color: black;
}

img{
    width: 100%;
}

/* buttons */
.btn{
    background-color: blue;
    color: white;
    padding: 15px;
    display: inline-block;
}

/* header */

/* top-bar */

.top-bar{
    display: flex;
    justify-content: space-between;
    width: 100vw;
    position: fixed;
    background-color: white;
    overflow-y: auto;
}

.left-info{
    display: flex;
    justify-content: space-between;
}

.logo{
    display: inline-block;
    padding: 15px 5px;
    margin: 10px;
}

.left-info ul, .right-info ul{
    display: flex;
    justify-content: space-between;
}

.left-info li, .right-info li{
    padding: 20px 10px;
    margin: 0 10px 0 0;
    flex-shrink: 1;
}

.left-info li a, .right-info li a{
    padding: 10px 15px;
    display: inline-block;
}

.left-info li:hover, .right-info li:hover{
    border-bottom: 1px solid blue;
}

/* jumbotron */

.jumbotron{
    padding-top: 10vh;
    background-color: #B4D0E7;
    width: 100vw;
}

.j-content{
    max-width: 1000px;
    text-align: left;
    margin: 0 auto;
    position: relative;
    top: 12vh;
}

.j-content h1{
    font-size: 4rem;
    margin-bottom: 4vh;
}

.l-container{
    display: flex;
    margin-top: 2vh;
}

.l-container p, .l-container .btn, .l-container div{
    font-size: 1.10rem;
    margin: 0 0 3vh 0;
}

.l-container i{
    font-size: 3rem;
}